 
/* @font-face {
    font-family: 'open-sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open-sans-bold';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */
.main-font {
    font-family: 'Open Sans', sans-serif;
}

.main-font2 {
    font-family: 'Open Sans', sans-serif;
}

.crimson {
    font-family: 'Open Sans', sans-serif;
}
.main-font3 {
    font-family: 'Open Sans', sans-serif;
}
.main-font4 {
    font-family: 'Open Sans', sans-serif;
}
.main-font5 {
    font-family: 'Open Sans', sans-serif;
}