 .section-gallery {
     padding: 0 0 51px 0;
     .section-title {
         padding-top: 56px;
         padding-bottom: 36px;
     }
 }

 .gallery-item {
    float: left;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative; 
    &:hover {
        .bg-overlay {
            opacity: 1;
        }
    }
 }
.bg-overlay {
    opacity: 0;
    border: 4px solid #d26828;
    border-radius: 20px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.2s linear
}
 .galleries-inner {
     margin: 0 auto;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     width: 1440px;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     padding-top: 32px;
 }

 @media only screen and (max-width:1235px) {
     .galleries-inner {
         width: 770px;
     }
 }

 @media only screen and (max-width:860px) {
     .gallery-item img {
         width: 340px;
     }
     .galleries-inner {
         width: 710px;
     }
 }

 @media only screen and (max-width:760px) {
     .galleries-inner {
         width: 340px;
     }
 }

 @media only screen and (max-width:450px) {
     .galleries-inner,.gallery-item img  {
         width: 280px;
     } 
 }